*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7815b98c;
}

.container{
    width: 400px;
    height: min-content;
    background: linear-gradient(135deg, #0077fe8f, #3dc73096);
    border-radius: 12px;
    padding: 28px;
}

/* **** Background Circles ****  */

.bg-circles div {
    position: absolute;
    border-radius: 50%;
}

.bg-circles .circle-1 {
    height: 80px;
    width: 80px;
    background-color: #5fff02;
    left: 10%;
    top: 20%;
    opacity: 0.3;
    filter: blur(10px);
    animation: bounceTop 5s ease-in-out infinite;
}

.bg-circles .circle-2 {
    height: 150px;
    width: 150px;
    background-color: #ffd902;
    left: 29%;
    top: 60%;
    opacity: 0.4;
    filter: blur(10px);
    animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-3 {
    height: 150px;
    width: 150px;
    background-color:#d36913;
    right: 28%;
    top: 8%;
    opacity: 0.6;
    filter: blur(10px);
    animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-4 {
    height: 80px;
    width: 80px;
    background-color:#57bacd;
    right: 10%;
    top: 80%;
    opacity: 0.6;
    filter: blur(10px);
    animation: bounceTop 8s linear infinite;
}

.search-box{
    position: relative;
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box i{
  position: absolute;
  left: 22px;
  font-size: 25px;
  color: #000000c0;
}

.search-box input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000000d0;
    background-color: #e6f5fb;
    padding: 13px 32px;
    border-radius: 30px;
    flex: 3;
    margin-right: 16px;
    margin-left: 16px;
}

.search-box input::placeholder{
    color: #00000070;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}

.search-box button:hover{
    color: #ffffff;
    background-color: #ababab;
}

.weather-body{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
    display: none;
}
.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup{
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity{
    margin-left: 20px;
}

.wind{
    margin-right: 20px;
}

.weather-details i{
    font-size: 36px;
}

.weather-details .text{
    margin-left: 10px;
    font-size: 16px;
}

.text span{
    font-size: 20px;
    font-weight: 700;
}

.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}